@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.btn {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: 250px;
    // height: 40px;
    // border-radius: 1em;
    // background-color: #ace0f9;
    // text-align: center;
    

    // &:hover {
    //     background-color: rgb(200, 140, 240);
    // }
    @include btn;
}

.text{
    font-size: 1em;
    font-family: $main-font;
    color: $main-fontcolor;
}

