@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
}

.title {
    @include main-text(1.5em, 600);
}

.subtitle {
    @include main-text(1.2em);
}

.img {
    max-height: 200px;
}

.link{
  @include btn;  
}