@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.main {
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    flex-flow: column wrap;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-width: 90%;
}

.wordbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 250px;
    margin: auto;
    padding: 1em;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 16px;
    cursor: pointer;
}

.optionBtn {
    @include btn;
}

.prev_btn,
.next_btn {
    background-color: $bg-color;
    border: none;
}

.nav_btn {
    max-height: 50px;
}