@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.container,
.logo,
.nav {
    @include obj_position;
}

.container {
    min-height: 80px;
    justify-content: space-between;
    background: $bg-gradient;
    color: $main-fontcolor;
    /* new */
    position: sticky;
    top: 0;
    z-index: 1;
}

.img {
    max-width: 50px;
    margin: 0 2em;
}

.title {
    @include main-text (1.8em);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .link {
        margin: auto 1.1em; 
        text-decoration: none;
        color: $main-fontcolor;
        @include main-text (1.2em);

        &:hover {
            color: rgb(218, 19, 135);
        }
    }
}

.active {
    background-color: rgb(38, 79, 214);
}