@import "../../style/variables.scss";
// @import "../../style/mixins.scss";

@mixin obj_position {
    display: flex;
    align-items: center;
}

.header,
.logo,
.nav {
    @include obj_position;
}

.header {
    min-height: 80px;
    justify-content: space-between;
    background: linear-gradient(#eff7f9, #ace0f9);
    color: $main-fontcolor;
}

.img {
    max-width: 50px;
    margin: 0 2em;
}

.title {
    font-size: 1.8em;
}

.nav {
    margin-right: 2em;

    a {
        margin-right: 2.5em;
        font-size: 1.2em;
        text-decoration: none;
        color: $main-fontcolor;
    }
}