@mixin obj_position {
    display: flex;
    align-items: center;
}

@mixin main-text ($font-size, $font-weight: 400) {
    font-family: $main-font;
    font-size: $font-size;
    font-weight: $font-weight;
    text-align: justify;
    line-height: 150%;
}

@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    margin: 0.85em;
    border-radius: 1em;
    border: none;
    background-color: #ace0f9;
    text-align: center;
    font-size: 1em;
    font-family: $main-font;
    color: $main-fontcolor;
    cursor: pointer;

    &:hover {
        background-color: rgb(200, 140, 240);
    }

    &:active {
        background-color: rgb(140, 150, 240);
    }
}

@mixin btn_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

@mixin input{
    margin: 0.8em 0;
    height: 40px;
    padding-left: 1em;
    border: solid 2px red;
    border-radius: 1em;
    background-color: rgb(245, 245, 245);

    &:focus {
        border: 2px solid #713bc1;
        outline: none;
    }

    &:hover {
        background-color: rgb(210, 208, 208);
    }
}

@mixin word_container{
    display: grid;
    grid-template-columns: repeat(4, 15%) 30%;
    justify-content: center;
    padding: 0;
    column-gap: 0.5em;
    font-family: $main-font;
    font-size: 1.1em;
    color: $main-fontcolor;
    text-align: center;
}