@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$bg-color:rgb(253, 252, 252);
/* $bg-color:rgb(152, 67, 67); */
$bg-gradient: linear-gradient(#eff7f9, #ace0f9);
$main-fontcolor: #00072d;
$main-font: 'Comfortaa';
*{cursor: pointer;}

