@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.container {
    display: flex;
    justify-content: center;
    max-height: 80px;
    bottom: 0;
    background: $bg-gradient;
    color: $main-fontcolor;
    /* new */
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
}

.img {
    max-width: 50px;
    margin: 0 2em;
    border-radius: 50%; 
}

.text{
    @include main-text (1.2em);
}

