@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.container {
    display: grid;
    grid-template-columns: repeat(4, 15%) 30%;
    justify-content: center;
    padding: 0;
    column-gap: 0.5em;
    font-family: $main-font;
    font-size: 1.1em;
    color: $main-fontcolor;
    text-align: center;
    margin-bottom: 1.2em;
}
.pseudoBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    border-radius: 1em;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.input {
    margin: 15px 0;
    height: 40px;
    padding-left: 1em;
    border: none;
    border-radius: 1em;
    background-color: rgb(245, 245, 245);

    &:focus {
        border: 2px solid #713bc1;
        outline: none;
    }
    &:hover{
        background-color: rgb(210, 208, 208); 
    }
}

.btn{
    @include btn;
}