@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.btn {
    @include btn;
}

.translate {
    // padding: 1em;
    margin: 1em;
    @include main-text(1.2em);
    color: $main-fontcolor;
    font-size: 1.3em;
}