@import "../../style/variables.scss";
@import "../../style/mixins.scss";


.banner {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: repeat(3, 2fr);
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    background: $bg-color;
}

.img {
    grid-column: 1/2;
    grid-row: 1/4;
    max-height: 500px;
    align-self: center;
    // justify-self: start;
    border-radius: 50%;
    z-index: 1;
}

.title {
    grid-column: 2/4;
    grid-row: 1/2;
    margin: auto 2em 0;
    @include main-text(1.4em, 600);
}

.subtitle {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto 2.5em;
    @include main-text(1.2em);
}

.card_btn,
.train_btn {
    @include btn;
}