@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.main {
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    flex-flow: column wrap;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-width: 90%;
}

.prev_btn,
.next_btn {
    background-color: $bg-color;
    border: none;
}

.nav_btn {
    max-height: 50px;
}

.word_counter{
    @include main-text (1.2em, 700);
    margin-top: 2em;
}